{% extends 'base.html.twig' %}

{% block title %}Hello AuthentificationController!{% endblock %}

{% block body %}
<style>
    body{
    	background: #77B5FE;
    	text-align: center;
	}
	#container{
	    width:400px;
	    margin:0 auto;
	    margin-top:10%;
	}
	/* Bordered form */
	form {
		margin-left: auto;
    	margin-right: auto;
		text-align: center;
	    width:30%;
	    padding: 10px;
	    border: 1px solid #f1f1f1;
	    background: #fff;
	    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

	}
	#container h1{
	    width: 38%;
	    margin: 0 auto;
	    padding-bottom: 10px;
	}

	/* Full-width inputs */
	input[type=text], input[type=password] {
	    width: 100%;
	    padding: 12px 20px;
	    margin: 8px 0;
	    display: inline-block;
	    border: 1px solid #ccc;
	    box-sizing: border-box;
	}

	/* Set a style for all buttons */
	input[type=submit] {
	    background-color: #77B5FE;
	    color: white;
	    padding: 14px 20px;
	    margin: 8px 0;
	    border: none;
	    cursor: pointer;
	    width: 100%;
	}
	input[type=submit]:hover {
	    background-color: white;
	    color: #77B5FE;
	    border: 1px solid #77B5FE;
	}
</style>
<div id=log>
	<h1> Bienvenue! </h1>
     	<form action="#" method="POST">
                
                <label><b>Nom d'utilisateur</b></label>
                <input type="text" name="username" required> <br>

                <label><b>Mot de passe</b></label>
                <input type="password" name="password" required> <br>

                <input type="submit" id='submit' value='LOGIN' >
    	</form>
</div>
{% endblock %}
