{% extends 'base.html.twig' %}

{% block title %}Hello RendezVousController!{% endblock %}

{% block body %}
<style>
    form { 
      margin: 2em auto; 
      max-width: 400px; width: 95%; font: 18px/1.5 sans-serif; 
      text-align: left; }
    
    form {  
      padding: 20px 50px;border: 1rem solid;
      border: 1px solid #f1f1f1;
      background: #fff;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);}

    .title { 
      margin: 1em auto; 
      max-width: 800px; width: 95%; 
      font: 18px/1.5 sans-serif; 
      color: white;
      text-align: center; }

    body {background: #77b5fe ;}

    /* Set a style for all buttons */
  input[type=submit],input[type=reset] {
      background-color: #77B5FE;
      color: white;
      padding: 0px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
  }
  input[type=submit]:hover,input[type=reset]:hover {
      background-color: white;
      color: #77B5FE;
      border: 1px solid #77B5FE;
  }

</style>
<form> 
<div class="title">
<h1>Veuillez rentrer les informations:</h1>
</div>
<div class="example-wrapper">
    
    <label> Motif du rendez-vous :</label>
    <input type='textblock' id='motif'/><br>
    <label> Médecin :</label>
    <select name='medecin' id='medecin'>
    <option>test
    </select><br>
    <label>Date rendez-vous</label>
    <input type='datetypeS' id='dateDebut' required="required"><br>
    <label>Heure</label>
    <input type='time' id='duree' required="required"><br>
    <label>Durée</label>
    <select name='medecin' id='medecin'>
    <option>15 min</option>
    <option>30 min</option>
    <option>45 min</option>
    <option>60 min</option>
    </select><br>
    <input type='reset' id='reset'/>
    <input type='submit' id='valider'/>
</div>
</form> 


{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}
{% endblock %}