{% extends 'base.html.twig' %}


{% block body %}
<!--Affiche tous les rendez vous demandés-->
Nous sommes le : {{"now"|date("d/m/Y")}}
<br>
Nombre de rendez vous en attente de validation : {{lesRendezVous|length}} 
{{form_start(form)}}
{% for rendezVous in lesRendezVous %}
<ul>
<li>Id du rendez vous : {{rendezVous.id}}</li>
<li>Date du rendez vous : {{rendezVous.date|date("d/m/Y")}}</li>
<li>Heure de début du rendez vous : {{rendezVous.heureDebut|date('H:i:s')}}</li>
<li>Heure de fin du rendez vous : {{rendezVous.heureFin|date('H:i:s')}}</li>
</ul>
<!--On affiche le formulaire qui permet de valider ou de supprimer le rendez vous, pour chaque rendez vous affiché-->

{{form_widget(form)}}

{% else %}
Vous n'avez pas de rendez vous

{% endfor %}
{{form_end(form)}}

{% endblock %}